@charset "utf-8";
/* CSS Document for Hlaga Media Group's Portflio - Quote */

table.quote_table
{
	color				: #FFFFFF;
	font-size			: 12px;
	background			: #c2c2c2;
	padding				: 10px;
	margin				: 0px;
	border-radius		: 5px;
}

table.quote_table td
{
	padding-right		: 5px;
	padding-bottom		: 5px;
}

table.quote_table td.left
{
	padding-right		: 11px;
	vertical-align		:	middle;
}

table.quote_table td.textarea
{
	padding-top			: 3px;
	vertical-align		: top;
}

table.quote_table input[type="text"]
{
	border				: 1px solid #999999; 
	color				: #999999;
	font-size			: 10px;
	height				: 25px;
	width				: 340px;
	border-radius		: 6px;
	padding-left		: 10px;
	font-size			: 14px;
	background			: #ffffff;
}

table.quote_table textarea
{
	border				: 1px solid #999999; 
	vertical-align		: top;
	width				: 340px;
	padding				: 10px;
	border-radius		: 6px;
	color				: #999999;
	font-family			: arial;
}

table.quote_table input[type="text"]:hover, table.quote_table textarea:hover, table.quote_table select:hover
{
	border				: 1px solid #37b0e9;
	text-shadow			: #ffffff;
}

table.quote_table span
{
	padding-left		: 7px;
	font-style			: italic;
	font-size			: 10px;
}

table.quote_table input.button 
{
	border-radius		: 2px;
	border				: 1px solid #ffffff;
	color				: #404040;
	text-align			: center;
	height				: 30px;
	width				: 100px;
	cursor				: pointer;
	font-weight			: bold;
}

table.quote_table input.button:hover
{
	background			: #37b0e9;
	color				: #ffffff;
}

table.quote_table select
{
	border-radius		: 3px;
	width				: 150px;
	color				: #999999;
	height				: 24px;
}

table.quote_table span 
{
	padding-left		: 7px;
	font-style			: italic;
	font-size			: 10px;
}

.anError
{
    border-radius		: 2px;
    box-shadow			: 0 0 4px #444444;
    background-color	: #ff0000;
    height				: 70px;
    width				: 300px;
    position			: absolute;
    z-index				: 9999;
    left				: 45%;
    top					: 35%;
    padding				: 10px;
    text-align			: center;
	color				: #ffffff;
	margin				: 0 auto;
}

.notError
{
    border-radius		: 2px;
    box-shadow			: 0 0 4px #444444;
    background-color	: #0C0;
    height				: 70px;
    width				: 300px;
    position			: absolute;
    z-index				: 9999;
    left				: 45%;
    top					: 35%;
    padding				: 20px;
    text-align			: center;
	color				: #ffffff;
}